@import './global/normalize.css';
@import './global/general.css';
@import './global/animations.css';

:root {
  --main-bg-color: #0a192e;
  --button-color: #4b28d8;
  --section-title-color: rgba(146, 146, 146, 0.302);
  --mozilla-blur-sub-color: rgba(255, 255, 255, 0.076);
  --header-bg-color: rgba(0, 0, 0, 0.65);
  --card-background: rgba(255, 255, 255, 0.038);
}
html {
  background: var(--main-bg-color);
}

body:not(.keyboardUser) *:focus {
  outline: none;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 60px;
  width: 100%;
  box-sizing: border-box;
}

h2 {
  text-align: left;
  font-weight: 500;
}

dialog {
  background-color: var(--main-bg-color);
  border-radius: 15px;
  border: none;
  color: white;
  padding: 30px 60px 30px;
  text-align: center;
}

dialog p {
  margin: 0;
}

/* -------------------------------------------------------------------------- */
/*                             Hero Section Header                            */
/* -------------------------------------------------------------------------- */

#home-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(var(--header-bg-color), var(--header-bg-color)),
    url('/assets/images/blackcatdev-io-header.jpg');
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  height: 140vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#home-header img {
  width: 100%;
  height: 10px;
  object-fit: cover;
}

#header-text {
  animation-iteration-count: infinite;
}

#header-text span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

#header-text {
  display: inline-block;
  color: rgba(255, 255, 255, 0.818);
  animation-iteration-count: infinite;
  margin-top: 40vh;
  padding: 0.5rem 2rem 0.5rem 2rem;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.01);
  border-radius: 5px;
}

@-moz-document url-prefix() {
  #header-text {
    backdrop-filter: blur(20px);
    background: var(--mozilla-blur-sub-color);
  }

  #sub-heading {
    backdrop-filter: blur(20px);
    background: var(--mozilla-blur-sub-color);
  }
}

#header-text span:nth-child(1) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(2) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(3) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(4) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(5) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(6) {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(7) {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(8) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(9) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(10) {
  animation: fade-in 0.8s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(11) {
  animation: fade-in 0.8s 2.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(12) {
  animation: fade-in 0.8s 2.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(13) {
  animation: fade-in 0.8s 2.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(14) {
  animation: fade-in 0.8s 2.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(15) {
  animation: fade-in 0.8s 3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(16) {
  animation: fade-in 0.8s 3.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(17) {
  animation: fade-in 0.8s 3.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(18) {
  animation: fade-in 0.8s 3.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#sub-heading {
  display: inline-block;
  padding: 0.5rem 2rem 0.5rem 2rem;
  font-size: 2.3rem;
  margin-top: 2rem;
  color: rgb(255, 255, 255);
  animation: delayed-fade linear 4.5s;
  backdrop-filter: blur(20px);
  border-radius: 5px;
}

#scroll-cta span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid rgb(137, 121, 121);
  border-radius: 100%;
  box-sizing: border-box;
}

#scroll-cta span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

#scroll-cta span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: circle-flare 3s infinite;
  animation: circle-flare 3s infinite;
  box-sizing: border-box;
}

#scroll-cta {
  position: absolute;
  bottom: 50vh;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}

#scroll-cta a:hover {
  opacity: 0.5;
}

/* -------------------------------------------------------------------------- */
/*                              PROJECTS SECTION                              */
/* -------------------------------------------------------------------------- */

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.section-title {
  align-self: flex-start;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 0 50px 0;
}

.section-title span {
  flex-grow: 1;
  height: 1.5px;
  background-color: var(--section-title-color);
  margin-left: 2rem;
}

.project-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--card-background);
  border-radius: 15px;
  margin: 3rem 0;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 50px 40px;
}

.project-container > img {
  border-radius: 10px;
  width: 55%;
  margin-right: 50px;
}

.project-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background: var(--card-background);
  border-radius: 15px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.project-with-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 4rem;
}

.project-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.project-description h4 {
  text-align: center;
}

.project-description ul {
  width: 70%;
  margin-top: 30px;
}

.project-description li {
  list-style: disc;
}

.project-description a {
  text-decoration: underline;
}

.half-card {
  width: 22rem;
  padding: 20px 0;
}

.half-card p {
  margin: 0;
  font-size: 1.35rem;
}

.half-card > img {
  width: 30%;
  margin: 2.5rem 0;
}

.epic-skies-title-row {
  display: flex;
  padding: 0 2rem;
  width: 300px;
  justify-content: space-around;
  align-items: center;
  font-size: 3rem;
  text-wrap: nowrap;
}

.epic-skies-title-row span:nth-child(1) {
  font-weight: 900;
}

.epic-skies-title-row span:nth-child(2) {
  font-weight: 100;
}

.epic-skies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.epic-skies p {
  font-size: 1.3rem;
  margin: 0 0 20px 0;
}

.epic-skies-title-row > img {
  width: 70px;
  height: 70px;
}

.app-store-button-row {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-top: 10px;
}

.app-store-button-row > a > img {
  width: 125px;
}

.divider {
  flex-grow: 1;
  height: 1.5px;
  background-color: var(--section-title-color);
  margin: 4rem 0;
  width: 100%;
}

/* -------------------------------------------------------------------------- */
/*                                About Section                               */
/* -------------------------------------------------------------------------- */

#about {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
  flex-direction: column;
}

.about-top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.about-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35vw;
}

.about-box p {
  font-size: 0.95rem;
  margin-top: 1rem;
}

.about-box h3 {
  margin: 0.8rem 0;
  font-weight: 400;
}

.about-box h4 {
  margin: 3rem 0;
  color: rgb(126, 165, 205);
  font-weight: 400;
  font-size: 2.2rem;
  text-align: left;
}

.about-box a {
  color: rgb(126, 165, 205);
}

.avatar {
  border-radius: 200px;
  box-sizing: border-box;
  background-color: #ddd;
  border: 5px solid #e0e8eb;
  background-size: cover;
  height: 300px;
  width: 300px;
  margin-right: 6rem;
}

.about-section-header {
  display: flex;
  justify-content: space-around;
}

.blog-link {
  color: black;
  text-decoration: underline;
}

/* -------------------------------------------------------------------------- */
/*                               Contact Section                              */
/* -------------------------------------------------------------------------- */

#contact {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
}

#contact h3 {
  color: rgba(255, 255, 255, 0.85);
}

#contact-form {
  display: flex;
  flex-direction: column;
}

.blur-background {
  background: var(--card-background);
  border-radius: 35px;
}

@-moz-document url-prefix() {
  #contact h2 {
    color: rgba(255, 255, 255, 0.943);
  }

  .blur-background {
    background: rgba(255, 255, 255, 0.084);
  }
}

.contact-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  padding: 70px 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  justify-content: space-around;
}

.contact-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
}

.contact-text-wrapper h3 {
  margin-bottom: 40px;
}

/* 
Hides the label but keeps it visible for 
screen readers for accessibility purposes 
*/

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.email-icon {
  height: 30px;
  width: 30px;
  margin-right: 20px;
}

.form-button {
  border: 1px solid;
  height: 50px;
  background-color: black;
  border-color: var(--button-color);
  border-radius: 30px;
  font-size: 1rem;
  padding: 0.6rem 2.5rem;
  transition: 0.25s ease all;
  width: 16rem;
  margin-top: 2rem;
}

.form-button:hover {
  background-color: var(--button-color);
  transition: 0.25s ease all;
}

#email-link {
  display: flex;
}

#contact-form input,
#contact-form textarea {
  background: #ffffff3d;
  border-radius: 5px;
  border: none;
  margin-bottom: 2rem;
  min-height: 50px;
  text-indent: 10px;
  width: 100%;
}

#contact-form {
  width: 45%;
  max-width: 400px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact-form textarea {
  height: 200px;
  vertical-align: text-top;
}

::placeholder {
  color: rgba(255, 255, 255, 0.885);
}

::backdrop {
  background-image: linear-gradient(
    45deg,
    rgb(38, 20, 131),
    rebeccapurple,
    rgb(14, 39, 64)
  );
  opacity: 0.75;
}

@media screen and (max-width: 840px) {
  h2 {
    font-size: 3rem;
  }

  #header-text {
    font-size: 4rem;
  }

  #sub-heading {
    font-size: 2rem;
  }
}

@media (max-width: 700px) {
  h2 {
    font-size: 2.5rem;
  }

  .mobile-only {
    display: initial;
  }

  .desktop-only {
    display: none;
  }

  .nav-logo {
    font-size: 1.1rem;
  }

  #home-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    clip-path: none;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
  }

  #header-text {
    font-size: 3.5rem;
    margin-top: 35vh;
  }

  #sub-heading {
    font-size: 1.5rem;
  }

  /* -------------------------------------------------------------------------- */
  /*                                 MOBILE MENU                                */
  /* -------------------------------------------------------------------------- */

  li {
    padding: 0;
    margin: 0;
  }

  /* -------------------------------------------------------------------------- */
  /*                           CONTACT SECTION MOBILE                           */
  /* -------------------------------------------------------------------------- */

  .contact-wrapper {
    flex-direction: column;
  }

  .contact-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    text-align: center;
    margin-bottom: 3rem;
  }

  .contact-text-wrapper h3 {
    margin: 0;
  }

  .contact-text-wrapper a {
    margin: 0;
  }

  #contact h2 {
    margin: 0;
  }

  .contact-wrapper {
    min-height: 750px;
    padding: 60px 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: space-evenly;
    justify-content: space-around;
  }

  /* -------------------------------------------------------------------------- */
  /*                            ABOUT SECTION MOBILE                            */
  /* -------------------------------------------------------------------------- */

  .avatar {
    margin: auto;
    width: 60%;
    height: 60%;
  }

  .about-box h4 {
    font-size: 2.5rem;
    text-align: center;
  }

  .about-top-section {
    flex-direction: column-reverse;
  }
}

@media (max-width: 950px) {
  .project-container {
    flex-direction: column-reverse;
    padding: 20px; /* Adjust padding */
  }

  .project-container > img {
    margin: 20px 0;
    width: 95%;
  }

  .epic-skies {
    margin-top: 20px; /* Adjust margin for vertical layout */
  }
}

@media (max-width: 850px) {
  .project-with-description {
    flex-direction: column;
  }

  .half-card {
    margin-bottom: 4rem;
  }

  .project-description {
    width: 100%;
  }

  .project-description li {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .epic-skies-title-row {
    font-size: 2rem;
    width: 60%;
  }

  #header-text {
    font-size: 3rem;
  }
}

@media screen and (max-width: 530px) {
  main {
    padding: 0 20px;
  }
  h3 {
    font-size: 2rem;
  }

  h2 {
    font-size: 2rem;
  }

  #header-text {
    font-size: 2.3rem;
  }

  #sub-heading {
    font-size: 1rem;
  }

  #contact-form {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  h3 {
    font-size: 2rem;
  }

  #header-text {
    font-size: 2rem;
  }

  #contact-form {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  #header-text {
    font-size: 1.8rem;
  }

  #sub-heading {
    font-size: 1rem;
  }
}
