@import "../global/normalize.css";
@import "../global/general.css";
@import "../global/animations.css";
@import "../components/service-item.css";
@import "../components/project-item.css";

:root {
  --main-bg-color: #0a192e;
  --button-color: #4b28d8;
  --section-title-color: rgba(146, 146, 146, 0.302);
  --mozilla-blur-sub-color: rgba(255, 255, 255, 0.076);
  --header-bg-color: rgba(0, 0, 0, 0.65);
  --card-background: rgba(255, 255, 255, 0.038);
}

body:not(.keyboardUser) *:focus {
  outline: none;
}

html {
  background: var(--main-bg-color);
}

h2 {
  color: var(--section-title-color);
  font-size: 6rem;
  text-align: center;
  font-weight: 500;
}

li {
  color: black;
}

.under-development {
  padding: 3rem;
  margin: auto;
}

/* -------------------------------------------------------------------------- */
/*                             Hero Section Header                            */
/* -------------------------------------------------------------------------- */

#home-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(var(--header-bg-color), var(--header-bg-color)),
    url("/assets/images/blackcatdev-io-header.jpg");
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  height: 140vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#home-header img {
  width: 100%;
  height: 10px;
  object-fit: cover;
}

#header-text {
  animation-iteration-count: infinite;
}

#header-text span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

#header-text {
  display: inline-block;
  color: rgba(255, 255, 255, 0.818);
  animation-iteration-count: infinite;
  margin-top: 40vh;
  padding: 0.5rem 2rem 0.5rem 2rem;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.01);
  border-radius: 5px;
}

@-moz-document url-prefix() {
  #header-text {
    backdrop-filter: blur(20px);
    background: var(--mozilla-blur-sub-color);
  }

  #sub-heading {
    backdrop-filter: blur(20px);
    background: var(--mozilla-blur-sub-color);
  }
}

#header-text span:nth-child(1) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(2) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(3) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(4) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(5) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(6) {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(7) {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(8) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(9) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(10) {
  animation: fade-in 0.8s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(11) {
  animation: fade-in 0.8s 2.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(12) {
  animation: fade-in 0.8s 2.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(13) {
  animation: fade-in 0.8s 2.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(14) {
  animation: fade-in 0.8s 2.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(15) {
  animation: fade-in 0.8s 3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(16) {
  animation: fade-in 0.8s 3.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(17) {
  animation: fade-in 0.8s 3.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(18) {
  animation: fade-in 0.8s 3.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#sub-heading {
  display: inline-block;
  padding: 0.5rem 2rem 0.5rem 2rem;
  font-size: 2.3rem;
  margin-top: 2rem;
  color: rgb(255, 255, 255);
  animation: delayed-fade linear 4.5s;
  backdrop-filter: blur(20px);
  border-radius: 5px;
}

.border {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(49, 49, 49, 0.6);
}

.container-large {
  width: 100%;
  height: 70px;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 60px;
  padding-left: 60px;
}

#scroll-cta span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid rgb(137, 121, 121);
  border-radius: 100%;
  box-sizing: border-box;
}

#scroll-cta span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

#scroll-cta span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: circle-flare 3s infinite;
  animation: circle-flare 3s infinite;
  box-sizing: border-box;
}

#scroll-cta {
  position: absolute;
  bottom: 50vh;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}

#scroll-cta a:hover {
  opacity: 0.5;
}

/* ---------------------------- SERVICES SECTION ---------------------------- */

#services {
  margin-top: -13vh;
  padding: 0 2rem;
}

/* -------------------------------------------------------------------------- */
/*                              PROJECTS SECTION                              */
/* -------------------------------------------------------------------------- */

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -150px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
}

/* -------------------------------------------------------------------------- */
/*                              Work Project Item                             */
/* -------------------------------------------------------------------------- */

.work-item-column {
  margin-right: 40px;
}

.project-image {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 360px;
  margin-right: 56px;
}

.services-wrapper {
  flex-direction: column;
  align-items: center;
}

/* -------------------------------------------------------------------------- */
/*                                About Section                               */
/* -------------------------------------------------------------------------- */

#about {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem 4rem 4rem;
  font-family: "Montserrat", sans-serif;
  z-index: 2;
  position: relative;
}

#about h2 {
  text-align: left;
  margin-bottom: 10rem;
}

.about-left-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-left-column img {
  margin: 0 7rem 0 0;
}

.about-right-column {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-top: -150px;
}

.about-right-column li {
  width: 300px;
  color: black;
  font-weight: 600;
  font-size: 1.4rem;
}

.about-right-column a {
  color: rgb(126, 165, 205);
}

.about-right-column p {
  width: 50vw;
}

.about-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35vw;
  padding: 1rem;
  margin-bottom: 4rem;
}

.about-box p {
  font-size: 0.95rem;
  margin-top: 1rem;
}

.about-box h3 {
  margin: 0.8rem 0;
  font-weight: 400;
}

.about-box h4 {
  margin: 3rem 0;
  color: rgb(126, 165, 205);
  font-weight: 400;
  font-size: 3rem;
  text-align: left;
}

.about-box a {
  color: rgb(126, 165, 205);
}

.avatar {
  border-radius: 200px;
  box-sizing: border-box;
  background-color: #ddd;
  border: 5px solid #e0e8eb;
  background-size: cover;
  height: 300px;
  width: 300px;
  margin-bottom: 5rem;
}

.avatar-container {
  height: 400px;
  position: absolute;
  top: -4rem;
  left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  text-align: center;
}

.about-section-header {
  display: flex;
  justify-content: space-around;
}

.blog-link {
  color: black;
  text-decoration: underline;
}

.icon-container img {
  height: 60px;
}

@media screen and (max-width: 1100px) {
  h2 {
    text-align: center;
  }
}

/* -------------------------------------------------------------------------- */
/*                               Contact Section                              */
/* -------------------------------------------------------------------------- */

#contact {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6rem 0;
}

#contact h2 {
  color: rgba(255, 255, 255, 0.428);
}

#contact h3 {
  color: rgba(255, 255, 255, 0.85);
}

#contact-form {
  display: flex;
  flex-direction: column;
}

.blur-background {
  background: var(--card-background);
  border-radius: 35px;
  width: 90%;
  margin: auto;
  padding-top: 4rem;
  max-width: 1300px;
}

@-moz-document url-prefix() {
  #contact h2 {
    color: rgba(255, 255, 255, 0.943);
  }

  .blur-background {
    background: rgba(255, 255, 255, 0.084);
  }
}

.contact-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 750px;
  padding: 0 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-around;
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.contact-wrapper > h2 {
  line-height: 5.5em;
}

.contact-text-wrapper {
  display: flex;
  flex-direction: column;
  height: 275px;
}

.contact-text-wrapper a {
  font-size: 1.2rem;
}
.contact-text-wrapper h3 {
  margin-bottom: 2rem;
}
.contact-text-wrapper a {
  margin-top: 2rem;
}

/* 
Hides the label but keeps it visible for 
screen readers for accessibility purposes 
*/

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.email-icon {
  height: 30px;
  width: 30px;
  margin-right: 20px;
}

#contact-submit-button {
  border: 1px solid;
  height: 50px;
  background-color: black;
  border-color: var(--button-color);
  border-radius: 30px;
  font-size: 1rem;
  padding: 0.6rem 2.5rem;
  transition: 0.25s ease all;
  width: 16rem;
  margin-top: 2rem;
}

#contact-submit-button:hover {
  background-color: var(--button-color);
  transition: 0.25s ease all;
}

#email-link {
  display: flex;
}

#contact-form input,
#contact-form textarea {
  background: #ffffff3d;
  border-radius: 5px;
  border: none;
  margin-bottom: 2rem;
  min-height: 50px;
  text-indent: 10px;
  width: 100%;
}

#contact-form {
  width: 45%;
  max-width: 400px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact-form textarea {
  height: 200px;
  vertical-align: text-top;
}

::placeholder {
  color: rgba(255, 255, 255, 0.885);
}

@media screen and (max-width: 840px) {
  #header-text {
    font-size: 4rem;
  }

  #sub-heading {
    font-size: 2rem;
  }
}

@media (max-width: 700px) {
  h2 {
    font-size: 5rem;
    margin: 0;
  }

  .mobile-only {
    display: initial;
  }

  .desktop-only {
    display: none;
  }

  .nav-logo {
    font-size: 1.1rem;
  }

  .shadow-wrap {
    filter: none;
  }

  #home-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    clip-path: none;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
  }

  #header-text {
    font-size: 3.5rem;
    margin-top: 35vh;
  }

  #sub-heading {
    font-size: 1.5rem;
  }

  /* -------------------------------------------------------------------------- */
  /*                                 MOBILE MENU                                */
  /* -------------------------------------------------------------------------- */

  li {
    padding: 0;
    margin: 0;
  }

  /* -------------------------------------------------------------------------- */
  /*                           SERVICES SECTION MOBILE                          */
  /* -------------------------------------------------------------------------- */

  #services {
    padding: 2rem 0 0 0;
    margin: 0;
  }

  .project-container {
    margin-top: 0;
  }
  /* -------------------------------- PROJECTS -------------------------------- */

  #projects {
    margin: 0;
    clip-path: none;
  }

  /* -------------------------------------------------------------------------- */
  /*                           CONTACT SECTION MOBILE                           */
  /* -------------------------------------------------------------------------- */

  #contact {
    padding: 6rem 0 1rem 0;
  }

  #contact-form {
    width: 90%;
  }

  .contact-wrapper {
    flex-direction: column;
  }

  .contact-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    text-align: center;
    margin-bottom: 3rem;
  }

  .contact-text-wrapper h3 {
    margin: 0;
  }

  .contact-text-wrapper a {
    margin: 0;
  }

  #contact h2 {
    margin: 0;
  }

  .contact-wrapper {
    min-height: 750px;
    padding: 60px 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: space-evenly;
    justify-content: space-around;
  }

  .contact-form-block {
    font-family: Opensauceone, sans-serif;
    padding: 3rem 1rem;
    background: var(--main-bg-color);
    width: 95%;
  }

  .form-first-and-last-name-wrapper {
    display: flex;
    flex-direction: column;
  }

  .first-name {
    margin: 0;
  }

  /* -------------------------------------------------------------------------- */
  /*                            ABOUT SECTION MOBILE                            */
  /* -------------------------------------------------------------------------- */

  #about {
    flex-direction: column;
    text-align: center;
    padding: 0 1rem;
  }
  .about-mobile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .avatar {
    margin-bottom: 0;
    height: 50vw;
    width: 50vw;
    margin: auto;
  }

  .about-box {
    width: 90%;
    padding: 0;
    margin: 2rem 0 0 0;
  }

  .about-box h4 {
    font-size: 2.5rem;
    text-align: center;
  }

  #about h2 {
    text-align: center;
    margin: 3rem 0 5rem 0;
  }
}
@media screen and (max-width: 600px) {
  #header-text {
    font-size: 3rem;
  }
}
@media screen and (max-width: 530px) {
  h3 {
    font-size: 2rem;
  }

  h2 {
    font-size: 4.5rem;
  }

  #header-text {
    font-size: 2.3rem;
  }

  #sub-heading {
    font-size: 1rem;
  }

  .blur-background {
    width: 93%;
  }

  #contact-form {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  h3 {
    font-size: 2rem;
  }

  h2 {
    font-size: 4.5rem;
  }

  #header-text {
    font-size: 2rem;
  }

  #contact-form {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  #header-text {
    font-size: 1.8rem;
  }

  #sub-heading {
    font-size: 1rem;
  }
}
