:root {
  --main-bg-color: #16202a;
  --button-color: #4b28d8;
  --section-title-color: rgba(146, 146, 146, 0.302);
}

body:not(.keyboardUser) *:focus {
  outline: none;
}

html {
  background: var(--main-bg-color);
}

h1 {
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  animation-iteration-count: infinite;
}

h2 {
  color: var(--section-title-color);
  font-size: 6rem;
  text-align: center;
  font-weight: 500;
}

li {
  list-style-type: none;
  color: black;
}

nav a {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
}

#home-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url("/assets/images/header2.jpg");
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  height: 140vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#home-header h1 {
  margin-top: 40vh;
  padding: 0 2rem 0.5rem 2rem;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.01);
  border-radius: 5px;
}

#home-header img {
  width: 100%;
  height: 10px;
  object-fit: cover;
}

#header-text span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

.fade-in-text {
  display: inline-block;
  color: rgba(255, 255, 255, 0.818);
  animation: fadeIn linear 7s;
  -webkit-animation: fadeIn linear 7s;
  -moz-animation: fadeIn linear 7s;
  -o-animation: fadeIn linear 7s;
  -ms-animation: fadeIn linear 7s;
  animation-iteration-count: infinite;
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

#header-text span:nth-child(1) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(2) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(3) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(4) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(5) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(6) {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(7) {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(8) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(9) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(10) {
  animation: fade-in 0.8s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(11) {
  animation: fade-in 0.8s 2.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(12) {
  animation: fade-in 0.8s 2.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(13) {
  animation: fade-in 0.8s 2.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(14) {
  animation: fade-in 0.8s 2.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(15) {
  animation: fade-in 0.8s 3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(16) {
  animation: fade-in 0.8s 3.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(17) {
  animation: fade-in 0.8s 3.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

#header-text span:nth-child(18) {
  animation: fade-in 0.8s 3.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.fade-underline a {
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;

  border-bottom: 3px solid transparent;
}

.fade-underline a:hover {
  border-bottom: 3px solid currentColor;
}

.nav-link {
  margin-left: 35px;
  -webkit-transition: color 600ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: color 600ms cubic-bezier(0.23, 1, 0.32, 1);
  font-size: 16px;
  font-weight: 500;
}

.mobile-only {
  display: none;
}

.nav-menu-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 19px;
  margin-left: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  cursor: pointer;
  position: relative;
  z-index: 1000;
}

.border {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(49, 49, 49, 0.6);
}

.container-large {
  width: 100%;
  height: 70px;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 60px;
  padding-left: 60px;
}

.nav-wrap > a {
  font-size: 1.2rem;
}

#scroll-cta span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid rgb(137, 121, 121);
  border-radius: 100%;
  box-sizing: border-box;
}

#scroll-cta span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

#scroll-cta span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}

#scroll-cta {
  position: absolute;
  bottom: 50vh;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}

#scroll-cta a:hover {
  opacity: 0.5;
}

@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* -------------------------------------------------------------------------- */
/*                             Hero Section Header                            */
/* -------------------------------------------------------------------------- */

.shadow-wrap {
  filter: drop-shadow(-1px 6px 6px rgba(16, 17, 17, 0.552));
}

.background-video {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  height: 800px;
  color: white;
}

.background-video > video {
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  right: -100%;
  bottom: -100%;
  top: -100%;
  left: -100%;
  object-fit: cover;
  z-index: -100;
}

.background-video > video::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}

/* -------------------------------------------------------------------------- */
/*                              SERVICES SECTION                              */
/* -------------------------------------------------------------------------- */

#services {
  margin-top: -13vh;
  padding: 0 2rem;
}

/* -------------------------------------------------------------------------- */
/*                              PROJECTS SECTION                              */
/* -------------------------------------------------------------------------- */

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("/assets/images/header1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -150px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
}

/* -------------------------------------------------------------------------- */
/*                              Work Project Item                             */
/* -------------------------------------------------------------------------- */

.work-item-column {
  margin-right: 40px;
}

.project-image {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 360px;
  margin-right: 56px;
}

.services-wrapper {
  flex-direction: column;
  align-items: center;
}

/* -------------------------------------------------------------------------- */
/*                                About Section                               */
/* -------------------------------------------------------------------------- */

#about {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem 4rem 4rem;
  font-family: "Montserrat", sans-serif;
  z-index: 2;
  position: relative;
}

#about h2 {
  text-align: left;
  margin-bottom: 10rem;
}

.about-left-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-left-column img {
  margin: 0 7rem 0 0;
}

.about-right-column {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-top: -150px;
}

.about-right-column li {
  width: 300px;
  color: black;
  font-weight: 600;
  font-size: 1.4rem;
}

.about-right-column a {
  color: rgb(126, 165, 205);
}

.about-right-column p {
  width: 50vw;
}

.about-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35vw;
  padding: 1rem;
  margin-bottom: 4rem;
}

.about-box p {
  font-size: 0.95rem;
  margin-top: 1rem;
}

.about-box h3 {
  margin: 0.8rem 0;
  font-weight: 400;
}

.about-box h4 {
  margin: 3rem 0;
  color: rgb(126, 165, 205);
  font-weight: 400;
  font-size: 3rem;
  text-align: left;
}

.about-box a {
  color: rgb(126, 165, 205);
}

.avatar {
  border-radius: 200px;
  box-sizing: border-box;
  background-color: #ddd;
  border: 5px solid #e0e8eb;
  background-size: cover;
  height: 300px;
  width: 300px;
  margin-bottom: 5rem;
}

.avatar-container {
  height: 400px;
  position: absolute;
  top: -4rem;
  left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  text-align: center;
}

.about-section-header {
  display: flex;
  justify-content: space-around;
}

.blog-link {
  color: black;
  text-decoration: underline;
}

.icon-container img {
  height: 60px;
}

@media screen and (max-width: 1100px) {
  h2 {
    text-align: center;
  }
}

/* -------------------------------------------------------------------------- */
/*                               Contact Section                              */
/* -------------------------------------------------------------------------- */

#contact {
  background: url("/assets/images/header2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.428);
  padding: 6rem 0;
}

#contact h2 {
  color: rgba(255, 255, 255, 0.428);
}

#contact h3 {
  color: rgba(255, 255, 255, 0.85);
}

#contact-form {
  display: flex;
  flex-direction: column;
}

.blur-background {
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.038);
  width: 90%;
  margin: auto;
  padding-top: 4rem;
  margin-top: 8rem;
}

.contact-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 750px;
  padding: 0 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-around;
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.contact-wrapper > h2 {
  line-height: 5.5em;
}

.contact-text-wrapper {
  display: flex;
  flex-direction: column;
  height: 275px;
}

.contact-text-wrapper a {
  font-size: 1.2rem;
}
.contact-text-wrapper h3 {
  margin-bottom: 2rem;
}
.contact-text-wrapper a {
  margin-top: 2rem;
}

/* 
Hides the label but keeps it visible for 
screen readers for accessibility purposes 
*/

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.email-icon {
  height: 30px;
  width: 30px;
  margin-right: 20px;
}

#contact-submit-button {
  border: 1px solid;
  height: 50px;
  background-color: black;
  border-color: var(--button-color);
  border-radius: 30px;
  font-size: 1rem;
  padding: 0.6rem 2.5rem;
  transition: 0.25s ease all;
  width: 16rem;
  margin-top: 2rem;
}

#contact-submit-button:hover {
  background-color: var(--button-color);
  transition: 0.25s ease all;
}

#email-link {
  display: flex;
}

#contact-form input,
#contact-form textarea {
  background: #ffffff3d;
  border-radius: 5px;
  border: none;
  margin-bottom: 2rem;
  min-height: 50px;
  text-indent: 10px;
  width: 100%;
}

#contact-form {
  width: 45%;
  max-width: 400px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact-form textarea {
  height: 200px;
  vertical-align: text-top;
}

::placeholder {
  color: rgba(255, 255, 255, 0.885);
}
