@media screen and (max-width: 700px) {
  .fade-in-text {
    font-size: 4rem;
  }

  .contact-wrapper {
    flex-direction: column;
  }

  .contact-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 375px;
  }

  .contact-text-wrapper h3 {
    margin: 0;
  }

  .contact-text-wrapper a {
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .fade-in-text {
    font-size: 3rem;
  }
}

@media screen and (max-width: 500px) {
  h3 {
    font-size: 2rem;
  }

  .fade-in-text {
    font-size: 3rem;
  }
}

@media (max-width: 576px) {
  h2 {
    font-size: 2.3rem;
  }
  .desktop {
    display: none;
  }

  .fade-in-text {
    font-size: 2.5rem;
  }

  .hero-section {
    min-height: 400px;
  }

  .background-video {
    height: 200px;
  }

  /* -------------------------------------------------------------------------- */
  /*                                 MOBILE MENU                                */
  /* -------------------------------------------------------------------------- */

  li {
    padding: 0;
  }

  .mobile-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background: black;
    height: 60px;
  }

  #menu-toggle {
    display: flex;
    flex-direction: column;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #menu-toggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  #menu-toggle span {
    z-index: 1;
    height: 1.4px;
    /* display: flex;
     */
    /* margin-bottom: 5px; */
    /* position: relative; */
    /* background: #ffffff;
    border-radius: 3px;
   
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; */
  }

  #menu-toggle span:nth-of-type(1) {
    transform-origin: 0% 0%;
    /* width: 24px; */
  }
  #menu-toggle span:nth-of-type(2) {
    transform-origin: 0% 0%;
    width: 16px;
  }
  #menu-toggle span:nth-of-type(3) {
    transform-origin: 0% 0%;
    width: 32px;
  }

  #menu-toggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menu-toggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menu-toggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) scale(1.3);
  }

  #menu-toggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg);
  }

  #menu-toggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menu-toggle input:checked ~ ul {
    transform: none;
  }

  #mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    padding: 50px;
    padding-top: 125px;
    background-color: var(--main-bg-color);
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* starting position */
    transform: translate(0, -100%);
    /* open and close animation  */
    transition: transform 0.7s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #mobile-menu li {
    transition-delay: 2s;
  }

  #mobile-menu a {
    font-family: Syne, sans-serif;
    font-size: 2.5rem;
    font-weight: light;
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  /* -------------------------------------------------------------------------- */
  /*                           CONTACT SECTION MOBILE                           */
  /* -------------------------------------------------------------------------- */

  .contact-wrapper {
    min-height: 750px;
    padding: 60px 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: space-evenly;
    justify-content: space-around;
  }

  .contact-form-block {
    font-family: Opensauceone, sans-serif;
    padding: 3rem 1rem;
    background: var(--main-bg-color);
    width: 95%;
  }

  .form-first-and-last-name-wrapper {
    display: flex;
    flex-direction: column;
  }

  .first-name {
    margin: 0;
  }

  #contact-submit-button {
    background: var(--button-color);
  }

  .hamburger {
    margin: 0 auto;
    margin-top: 30px;
    width: 30px;
    height: 30px;
    position: relative;
  }

  .hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: white;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;
  }

  .bar1 {
    top: 0;
  }

  .bar2,
  .bar3 {
    top: 13.5px;
  }

  .bar3 {
    right: 0;
  }

  .bar4 {
    bottom: 0;
  }

  /* HAMBURGER 1 */
  .checkbox1:checked + label > .hamburger1 > .bar1 {
    transform: rotate(45deg);
    transform-origin: 5%;
    width: 41px;
  }

  .checkbox1:checked + label > .hamburger1 > .bar2 {
    transform: translateX(-40px);
    background-color: transparent;
  }

  .checkbox1:checked + label > .hamburger1 > .bar3 {
    transform: translateX(40px);
    background-color: transparent;
  }

  .checkbox1:checked + label > .hamburger1 > .bar4 {
    transform-origin: 5%;
    transform: rotate(-45deg);
    width: 41px;
  }

  /* HAMBURGER 2 */

  .checkbox2:checked + label > .hamburger2 > .bar1 {
    transform: translateX(40px);
    background-color: transparent;
  }

  .checkbox2:checked + label > .hamburger2 > .bar2 {
    transform: rotate(45deg);
  }

  .checkbox2:checked + label > .hamburger2 > .bar3 {
    transform: rotate(-45deg);
  }

  .checkbox2:checked + label > .hamburger2 > .bar4 {
    transform: translateX(-40px);
    background-color: transparent;
  }

  /* HAMBURGER 3 */

  .hamburger3 .bar1 {
    transform-origin: 5%;
  }

  .hamburger3 .bar4 {
    transform-origin: 5%;
  }

  .checkbox3:checked + label > .hamburger3 > .bar1 {
    transform: rotate(45deg);
    height: 3px;
    width: 42px;
  }

  .checkbox3:checked + label > .hamburger3 > .bar3 {
    transform: rotate(45deg);
    height: 3px;
    background-color: transparent;
  }

  .checkbox3:checked + label > .hamburger3 > .bar2 {
    transform: rotate(-45deg);
    height: 3px;
    background-color: transparent;
  }

  .checkbox3:checked + label > .hamburger3 > .bar4 {
    transform: rotate(-45deg);
    height: 3px;
    width: 42px;
  }

  /* HAMBURGER 4 */

  .hamburger2 .bar2,
  .hamburger3 .bar3,
  .hamburger4 .bar4 {
    top: 13.5px;
  }

  .hamburger4 .bar5 {
    bottom: 0px;
  }

  .hamburger4 .bar {
    transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
  }

  .hamburger4 .bar2 {
    width: 1px;
    transform: rotate(90deg);
    left: 13.5px;
  }

  .hamburger4 .bar3 {
    width: 1px;
    left: 13.5px;
  }

  .checkbox4:checked + label > .hamburger4 > .bar1 {
    top: 13.5px;
    background-color: transparent;
  }

  .checkbox4:checked + label > .hamburger4 > .bar2 {
    left: 0px;
    width: 30px;
    transform: rotate(45deg);
  }

  .checkbox4:checked + label > .hamburger4 > .bar3 {
    left: 0;
    width: 30px;
    transform: rotate(-45deg);
  }

  .checkbox4:checked + label > .hamburger4 > .bar4 {
    background-color: transparent;
  }

  .checkbox4:checked + label > .hamburger4 > .bar5 {
    bottom: 13.5px;
    background-color: transparent;
  }
}

@media (min-width: 768px) {
  .project-item {
    width: calc(50% - 10px);
    height: 600px;
  }
}
