@media screen and (max-width: 700px) {
  .fade-in-text {
    font-size: 4rem;
  }

  .contact-wrapper {
    flex-direction: column;
  }

  .contact-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 375px;
  }

  .contact-text-wrapper h3 {
    margin: 0;
  }

  .contact-text-wrapper a {
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .fade-in-text {
    font-size: 3rem;
  }
}

@media screen and (max-width: 500px) {
  h3 {
    font-size: 2rem;
  }

  .fade-in-text {
    font-size: 3rem;
  }
}

@media (max-width: 576px) {
  h2 {
    font-size: 2.3rem;
  }

  .mobile-only {
    display: initial;
  }

  .desktop-only {
    display: none;
  }

  .fade-in-text {
    font-size: 2.5rem;
  }

  .nav-logo {
    font-size: 1.1rem;
  }

  .background-video {
    height: 200px;
  }

  .shadow-wrap {
    filter: none;
  }

  #home-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: url("/assets/images/header1.jpg");
    clip-path: none;
    height: 130vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* -------------------------------------------------------------------------- */
  /*                                 MOBILE MENU                                */
  /* -------------------------------------------------------------------------- */

  li {
    padding: 0;
    margin: 0;
  }

  #mobile-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 60px;
  }

  #menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #menu-toggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  #menu-toggle input:checked ~ ul {
    transform: none;
  }

  #mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: var(--main-bg-color);
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* starting position */
    transform: translate(0, -100%);
    /* open and close animation  */
    transition: transform 0.7s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #mobile-menu li {
    transition-delay: 2s;
  }

  #mobile-menu a {
    font-size: 2.5rem;
    font-weight: light;
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  .nav-link {
    margin: 0;
    font-family: "Montserrat", sans-serif;
  }

  /* -------------------------------------------------------------------------- */
  /*                           SERVICES SECTION MOBILE                          */
  /* -------------------------------------------------------------------------- */

  #services {
    padding: 2rem 0;
  }

  /* -------------------------------------------------------------------------- */
  /*                           CONTACT SECTION MOBILE                           */
  /* -------------------------------------------------------------------------- */

  .contact-wrapper {
    min-height: 750px;
    padding: 60px 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: space-evenly;
    justify-content: space-around;
  }

  .contact-form-block {
    font-family: Opensauceone, sans-serif;
    padding: 3rem 1rem;
    background: var(--main-bg-color);
    width: 95%;
  }

  .form-first-and-last-name-wrapper {
    display: flex;
    flex-direction: column;
  }

  .first-name {
    margin: 0;
  }

  #contact-submit-button {
    background: var(--button-color);
  }

  #hamburger {
    margin: 0 auto;
    width: 30px;
    height: 25px;
    position: relative;
    z-index: 1;
  }

  #hamburger span {
    padding: 0;
    width: 30px;
    height: 1.4px;
    background-color: white;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;
  }

  #hamburger span:nth-child(1) {
    top: 0;
  }
  #hamburger span:nth-child(2),
  #hamburger span:nth-child(3) {
    top: 12px;
  }

  #hamburger span:nth-child(4) {
    bottom: 0;
  }

  #menu-button:checked + label > #hamburger > span:nth-child(1) {
    transform: translateX(40px);
    background-color: transparent;
  }

  #menu-button:checked + label > #hamburger > span:nth-child(2) {
    transform: rotate(45deg);
  }

  #menu-button:checked + label > #hamburger > span:nth-child(3) {
    transform: rotate(-45deg);
  }

  #menu-button:checked + label > #hamburger > span:nth-child(4) {
    transform: translateX(-40px);
    background-color: transparent;
  }
}

@media (min-width: 768px) {
  .project-item {
    width: calc(50% - 10px);
    height: 600px;
  }
}
